<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />

    <!-- Additional Meta Tags -->
    {% block extra_meta %}{% endblock %}

    <!-- Additional CSS -->
    {% block extra_css %}{% endblock %}

    <!-- Additional Scripts in Head -->
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
